{{> header}}

<div class="spacer-100"></div>
<div class="radial-bg fixed-bg"></div>
<div class="custom-col-d-6 dash-tile">
  <div class="g-search-box-container">
      <input id="customer-search-input" class="g-search-box-input" name="search" type="text" placeholder="Search Customers"><button id="customer-search-submit" type="submit" class="sky-blue-bg g-search-box-submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
  </div>
  <div class="box-shadow">
    <div class="dash-info-container">
      <div id="customer-details"></div>
    </div>
  </div>
</div>

<div class="custom-col-d-6 dash-tile">
  <div class="box-shadow">
    <div id="customer-order" class="dash-info-container-no-search">
      <h2 class="dash-tile-no-content">No Orders</h2>
    </div>
  </div>
</div>

<div class="custom-col-d-6 dash-tile">
  <div class="g-search-box-container">
      <input id="catalog-search-input" class="g-search-box-input" name="search" type="text" placeholder="Search Catalog"><button id="catalog-search-submit" type="submit" class="sky-blue-bg g-search-box-submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
  </div>
  <div class="box-shadow">
    <div class="dash-info-container">
      <div id="catalog-details"></div>
    </div>
  </div>
</div>

<div id="update" class="custom-col-d-6 dash-tile">
  <div class="box-shadow">
    <div class="dash-info-container-no-search">
      <input type="text" id="firstname-update" name="firstname-update" class="form-in" placeholder="First Name" value={{this.firstname}}>
      <input type="text" id="lastname-update" name="lastname-update" class="form-in" placeholder="Last Name"  value={{this.lastname }}>
      <input type="text" id="firstlineofaddress-update" name="firstlineofaddress-update" class="form-in" placeholder="Address"  value={{this.firstlineofaddress}}>
      <input type="text" id="town-update" name="town-update" class="form-in" placeholder="Town" value={{this.town}}>
      <input type="text" id="postcode-update" name="postcode-update" class="form-in" placeholder="Postcode"  value={{this.postcode}}>
      <input type="text" id="contactnumber-update" name="contactnumber-update" class="form-in" placeholder="Contact Number"  value={{this.contactnumber}}>
      <input type="hidden" id="email-update" name="email-update" class="form-in" placeholder="E-Mail"  value={{this.email}}>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button id="update-details-btn" class= "sky-blue-bg submit-btn" type="submit">Update Details</button>
    </div>
    <button id="delete-btn" style="z-index: 100" type="submit" class="delete-btn">Delete Customer</button>
  </div>
</div>

<div id="register-customer" class="custom-col-d-6 dash-tile" style="border: 1px solid blue;">
<h3> Register New Customer </h3>
  <div class="row">
    <div class="col-md-12">
          <div class="form-group">
              <label for="firstname-customer">First Name</label>
              <input type="text" id="firstname-customer" name="firstname-customer" class="form-control">
          </div>
          <div class="form-group">
              <label for="lastname-customer">Surname</label>
              <input type="text" id="lastname-customer" name="lastname-customer" class="form-control">
          </div>
          <div class="form-group">
              <label for="firstlineofaddress-customer">First line of address</label>
              <input type="text" id="firstlineofaddress-customer" name="firstlineofaddress-customer" class="form-control">
          </div>
          <div class="form-group">
              <label for="town-customer">Town</label>
              <input type="text" id="town-customer" name="town-customer" class="form-control">
          </div>
          <div class="form-group">
              <label for="postcode-customer">Postcode</label>
              <input type="text" id="postcode-customer" name="postcode-customer" class="form-control">
          </div>
          <div class="form-group">
              <label for="contactnumber-customer">Contact number</label>
              <input type="text" id="contactnumber-customer" name="contactnumber-customer" class="form-control">
          </div>
          <div class="form-group">
              <label for="email-customer">Email</label>
              <input type="text" id="email-customer" name="email-customer" class="form-control">
          </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    </div>
    <button id="register-customer-btn" type="submit" >Submit</button>
    <div style="height: 100px"></div>
  </div>
</div>

<div class="custom-col-d-12 dash-tile">
  <div class="box-shadow">
    <div id="customer-order-details" class="dash-info-container-no-search">
      <div id="customer-order-customer-details" style="width:50%; border: 1px solid red"></div>
      <div id="customer-order-product-details" style="width:50%; border: 1px solid blue"></div>
      <div id="customer-order-checkout-details" style="width:50%; border: 1px solid green">
        <h4 id="customer-order-cart-total"> Total: £0 </h4>
      </div>
      <button id="place-order-btn" class="sky-blue-bg submit-btn" type="submit">Place Order</button>
    </div>
  </div>
</div>
