{{> header}}

<div class="custom-col-d-6">
  <h4>Customer Details</h4>
  <hr></hr>
  <ul>
    {{# each customers }}
      <li><strong> {{ this.firstname }} {{ this.lastname }}</strong></li>
      <div class="customer-additional-info">
        <ul>
          <li>{{ this.firstlineofaddress }}</li>
          <li>{{ this.town }}</li>
          <li>{{ this.postcode }}</li>
          <li>{{ this.contactnumber }}</li>
        </ul>
      </div>
      <hr>
    {{/each}}
  </ul>
</div>

<div class="custom-col-d-6">
  <h4>Orders</h4>
</div>
