<div class="customer-forms-container">
  <div class="box-shadow">
    <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
      {{errMsg}}
    </div>
    <form action="/checkout" method="post" id="checkout-form" class="customer-forms">
      <legend>
      <h3>Checkout</h3>
      <h4>Your Total: £{{ total }}</h4>
      </legend>
      <div class="custom-col-d-12">
        <div id=firstname-div class="custom-col-d-6">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" class="form-in-half" name="firstname"  value={{user.firstname}} required>
        </div>
        <div id=lastname-div class="custom-col-d-6">
          <label for="lastname">Lastname</label>
          <input type="text" id="lastname" class="form-in-half" name="lastname"  value={{user.lastname}} required>
        </div>
      </div>
         <div id="firstlineofaddress-div">
            <label for="firstlineofaddress">First line of address</label>
            <input type="text" id="firstlineofaddress" class="form-in" name="firstlineofaddress" value={{user.firstlineofaddress}} required>
          </div>
          <div id="town-div">
            <label for="town">Town</label>
            <input type="text" id="town" class="form-in" name="town" value={{user.town}} required>
          </div>
          <div id="postcode-div">
            <label for="postcode">Postcode</label>
            <input type="text" id="postcode" class="form-in" name="postcode" value={{user.postcode}} required>
          </div>
          <div id="card-name-div">
            <label for="card-name">Card Holder Name</label>
            <input type="text" id="card-name" class="form-in" required>
          </div>
          <div id="card-number-div">
            <label for="cardNumber">Credit Card Number</label>
            <input type="text" id="cardNumber" class="form-in" required>
          </div>
          <div class="custom-col-d-12">
            <div id="card-month-div" class="custom-col-d-6">
              <label for="card-expiry-month">Expiration Month</label>
              <input type="text" id="card-expiry-month" class="form-in-half" required>
            </div>
            <div id="card-year-div" class="custom-col-d-6">
              <label for="card-expiry-year">Expiration Year</label>
              <input type="text" id="card-expiry-year" class="form-in-half" required>
            </div>
          </div>
          <div id="card-cvc-div">
            <label for="card-cvc">CVC</label>
            <input type="text" id="card-cvc" class="form-in" required>
          </div>
        <button type="submit" class="sky-blue-bg submit-btn">Buy now</button>
        <!-- <img src="/public/images/stripe.png"> -->
    </form>
  </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>
