{{# if products }}
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <ul class="list-group">
        {{# each products }}
          <li class="list-group-item">
            <strong>{{ this.item.title }} </strong>
            <p class="cart-badge"><span>Qty: </span>{{ this.qty }}</p>
            <a href="/reduce/{{this.item._id}}"><i class="fa fa-lg fa-minus-square" aria-hidden="true"></i></a>


            <p class="cart-price">£{{ this.price }}</p>

            <a href="/remove/{{this.item._id}}"><i class="fa fa-lg fa-trash" aria-hidden="true"></i></a>

        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <strong class="large-txt">Total: £{{ totalPrice }}</strong>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a href="/checkout" type="button" class="sky-blue-bg submit-btn">Checkout</a>
    </div>
{{ else }}
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <h2>No Items in Cart</h2>
    </div>
  </div>
{{/if}}
